<section class="all-page-signup">
  <header class="postitlogo">
    <div></div>
    <img id="post-it" src="/images/postIT-logo.png" alt="" />
  </header>

  <section class="login" id="form">

    <form action="/auth/login" method="POST" id="login-form">
      <h2>Log In</h2>

      <input id="login-input" type="text" name="username" placeholder="Your username" />



      <input id="login-input" type="email" name="email" placeholder="Your email" />



      <input id="login-input" type="password" name="password" placeholder="Your password" />


    <button id="login-button" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>