<section class="all-page-signup">
  <header class="postitlogo">
    <div></div>
    <img id="post-it" src="/images/postIT-logo.png" alt="" />
  </header>

  <section class="signup" id="form">

    <form action="/auth/signup" method="POST" id="signup-form">
      <h2>Register</h2>
      <input
        id="signup-input"
        type="text"
        name="username"
        placeholder="Your username"
      />

      <input
        id="signup-input"
        type="email"
        name="email"
        placeholder="Your email"
      />

      <input
        id="signup-input"
        type="password"
        name="password"
        placeholder="Your password"
      />

      <button id="register-button" type="submit">REGISTER</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </section>
</section>