<section>

  <h1>All files header partial</h1>
  <div class="notes">
    <h2>Create a note</h2>
    
    <h3>Your notes</h3>
    <h4>Note title 1</h4>
    <h4>Note title 2</h4>
  </div>
  <div class="todo">
    <h2>Create a to do</h2>
      <input type="button" id="add-todo" value="+"></input>
  <input type="text" id="new-todo-input" placeholder="To do title">
    <h3>Your to do</h3>
    <h4>To do title 1</h4>
    <h4>To do title 2</h4>
  </div>


</section>