<section class="menu-section">
  <div class="notes">
    <a id="notes-link" href="/notes"> <div class="hover-notes"> Notes</div></a>
    <a href="/notes/create"><img
        id="add-button"
        src="/images/add-button.png"
        alt="plus"
      /></a>
  </div>

  <div class="note-title-container">
    <ul>
      {{#each allNotes}}
        <a href="/notes/{{this.id}}">
          <li class="all-notes-title">{{this.title}}</li>
        </a>
      {{/each}}
    </ul>
  </div>

  <div class="todos">
    <a id="todos-link" href="/todos"> <div class="hover-todos"> To do</div></a>

    <a href="/todos/create"><img
        id="add-button"
        src="/images/add-button.png"
        alt="plus"
      /></a>

  </div>
  <div class="todo-title-container">
    <ul>
      {{#each allTodos}}
        <a href="/todos/{{this.id}}">
          <li class="all-todo-title">{{this.title}}</li>
        </a>
      {{/each}}
    </ul>
  </div>

</section>