<section class="menu-section">
  <div class="notes">
    <a id="notes-link" href="/notes"> Notes</a>
    <a href="/notes/create"><img
        id="add-button"
        src="/images/add-button.png"
        alt="plus"
      /></a>
  </div>
  <div class="todos">
    <a id="todos-link" href="/todos"> To do</a>
    <a href="/todos/create"><img
        id="add-button"
        src="/images/add-button.png"
        alt="plus"
      /></a>
  </div>

</section>