<section class="old-paper">
  <div class="intro-post-it-now">
    <p class="line-1 anim-typewriter">POST IT RIGHT HERE RIGHT NOW</p>
  </div>
  <div class="press-enter">
    <a href="/loginorregister" id="press-enter-id">
      <img
        id="press-enter-image"
        src="/images/click-it.png"
        alt="press-enter"
      />
    </a>
  </div>
</section>