<h1>POST IT</h1>
<p>Post it right here right now_</p>

<p>Press enter</p>

<a href="/auth/signup">Link signup</a>
<br />
<a href="/auth/login">Link login</a>
<br />
<a href="/auth/logout">Link logout</a>
<br />
<a href="/todo">todo</a>