<section class="old-paper">
  <div class="intro-post-it-now">
    <p class="line-1 anim-typewriter">POST IT RIGHT HERE RIGHT NOW</p>
  </div>
  <div class="press-enter">
    <p>PRESS ENTER</p>
  </div>

  <a href="/auth/signup">( Link signup</a>
  <a href="/auth/login">Link login</a>
  <a href="/auth/logout">Link logout</a>
  <a href="/todo">Link todo )</a>
</section>