<section class="all-page-log-or-register">
  <header class="postitlogo">
    <div></div>
    <img id="post-it" src="/images/postIT-logo.png" alt="" />
  </header>

  <section class="login-or-register">
    <a id="log-in" href="/auth/login">LOG IN</a>
    <a id="register" href="/auth/signup">REGISTER</a>
  </section>
</section>