/* .all-partials {
  display: flex;
  flex-direction: column;
}

.menu-functionalities {
  display: flex;
  flex-direction: row;
} */

#trashbin-image-todos {
  width: 1.5rem;
  height: 1.5rem;
}

#trashbin-image-todos:hover {
  transform: scale(1.2);
}

#section-one-todo-create {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

input {
  background: transparent;
  border: 0px solid;
  height: 35px;
  width: 390px;
  font-size: 20px;
}

input:focus {
  border: none;
  outline: none;
}

#outils-one-todo-create {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}

#button-all-todo-create {
  left: 9.66%;
  right: 9.66%;
  top: 25.93%;
  bottom: 27.78%;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 66px;
  /* or 367% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.class-button-all-todo-create:hover {
  transform: scale(1.2);
}

.class-button-all-todo-create {
  width: 145px;
  height: 54px;
  left: 76px;
  top: 959px;
  background: #edede9;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
}

input[name="plus-input"] {
  height: 40px;
  width: 50px;
}
