/* .all-partials {
  display: flex;
  flex-direction: column;
}

.menu-functionalities {
  display: flex;
  flex-direction: row;
} */

#trashbin-image-todos {
  width: 1.5rem;
  height: 1.5rem;
}

#section-one-todo-create {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

input {
  background: transparent;
  border: 0px solid;
  height: 35px;
  width: 300px;
  font-size: 24px;
}

#outils-one-todo-create {
  display: flex;
  flex-direction: column;
  width: 7rem;
  padding-top: 5rem;
  padding-right: 1rem;
}

#button-all-todo-create {
  left: 9.66%;
  right: 9.66%;
  top: 25.93%;
  bottom: 27.78%;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 66px;
  /* or 367% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.class-button-all-todo-create {
  width: 145px;
  height: 54px;
  left: 76px;
  top: 959px;
  background: #edede9;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
}
