@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");

.todo-list-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.each-todo {
  background: rgba(237, 237, 233, 0.3);
  box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 1006px;
  height: 66px;
  left: 372px;
  top: 205px;
  margin: 1rem;
  font-family: Roboto Mono;
}

.todo-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

#edit-image-todos,
#trashbin-image-todos {
  width: 1.5rem;
  height: 1.5rem;
}
