body {
  overflow: hidden;
}

#tools-section-note {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}

#trashbin-image {
  width: 2rem;
  height: 2rem;
}

#trashbin-image:hover {
  transform: scale(1.2);
}

.text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 2rem;
  background: rgba(237, 237, 233, 0.3);
  box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.15);
}

#edit-note-title,
#edit-note-content {
  border: none;
  background: transparent;
  width: 550px;
  padding: 2rem 2rem;
}

#edit-note-content {
  height: 400px;
}

#edit-note-title {
  font-size: 20px;
  font-weight: bold;
}

textarea {
  max-width: 550px;
  resize: none;
}

textarea:focus {
  border: none;
  outline: none;
}

#first-note-textarea {
  box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.15);
}

/* #edit-button {
  background: #edede9;
  box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
  width: 134px;
  height: 49px;
  text-align: center;
  cursor: pointer;
} */

.class-button-edit-note-bis {
  width: 145px;
  height: 54px;
  left: 76px;
  top: 959px;
  background-color: #cce3de;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.15);
}

.class-button-edit-note {
  width: 145px;
  height: 54px;
  left: 76px;
  top: 959px;
  background-color: #edede9;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#edit-button:hover {
  transform: scale(1.2);
}

#edit-button {
  left: 9.66%;
  right: 9.66%;
  top: 25.93%;
  bottom: 27.78%;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 66px;
  /* or 367% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  cursor: pointer;
}

.class-button-all-notes {
  width: 145px;
  height: 54px;
  left: 76px;
  top: 959px;
  background: #edede9;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.class-button-all-notes:hover {
  transform: scale(1.2);
}

#button-all-notes {
  left: 9.66%;
  right: 9.66%;
  top: 25.93%;
  bottom: 27.78%;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 66px;
  /* or 367% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
