body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#all-page {
  display: flex;
  flex-direction: column;
}
#menu-partial-functionalities {
  display: flex;
  flex-direction: row;
}
