<section class="all-partials">

  <header class="header">
  {{> userheaderpartial}}
  </header>


  <section class="menu-functionalities">
    <section>
    {{> selectionpartial}}
    </section>

    <section class="todo-list-section">

    {{#each allTodos}}
      <div class="each-todo">
        <div class="todo-title">{{this.title}}</div>
          <section data-id="{{this.id}}" id="section-buttons">
            <a href="/todos/{{this.id}}"><img id="edit-image-todos" src="/images/edit.png", alt="Edit-todo"/></a>
            {{!-- <a href="/todos" id="delete-one-todo"><img id="trashbin-image-todos" src="/images/trash-bin.png", alt="Trash bin"/></a> --}}
          </section>
        </div>
    {{/each}}
    </section>

        <section>Outils</section>

  </section>

</section>