<section class="all-partials">

  <header class="header">
  {{> userheaderpartial}}
  </header>


  <section class="menu-functionalities">
    <section>
    {{> selectionpartial}}
    </section>

    <section class="files-container">
      <h1>All Todos</h1>
    {{#each allTodos}}
      <input type="text" name="title" placeholder="title: " value="{{this.title}}" />
      <input type="text" name="task" placeholder="genre: " value="{{this.content}}" />
    {{/each}}
    </section>

    <section></section>
  </section>

</section>