<section class="all-partials">

  <header class="header">
  {{> userheaderpartial}}
  </header>


  <section class="menu-functionalities">
    <section>
    {{> selectionpartial}}
    </section>

    <section class="todo-list-section">

    {{#each allTodos}}
      <div class="each-todo"><div class="todo-title">{{this.title}}</div></div>
      <a href="/todos/{{this.id}}">edit</a>
      <a href="/todos/" id="delete-one-todo">delete</a>
    {{/each}}
    </section>

        <section>Outils</section>

  </section>

</section>