<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section><h2 class="transformation-line">Create To Do</h2>
        <ul id="tasks"></ul>
            <input type="text" data-todo-id="" name="title" id="new-todo-input" placeholder="To do title">
            <input type="button" id="add-title" value="Save Title"></input>
        </section>

        <section>
            Outils
        </section>
  </section>

</section>