<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section><h1>Create To Do</h1>
            <input type="text" data-todo-id="" name="title" id="new-todo-input" placeholder="To do title">
            <input type="button" id="add-title" value="Save Title"></input>
        </section>

        <section>
            Outils
        </section>
  </section>

</section>