<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section ="section-one-todo-create"><h2 class="transformation-line"></h2>
        <ul id="tasks"></ul>
            <input type="text" data-todo-id="" name="title" id="new-todo-input" placeholder="Title of your to do" maxlength="35">
            <input type="button" id="add-title" value="+"></input>
        </section>
        <section id="outils-one-todo-create">
            

            <div class="class-button-all-todo-create">
<a href="/todos" id="button-all-todo-create">All to do</a>
</div>
        </section>
  </section>

</section>