{{! partial header  }}
{{! partial left section  }}

<section>
{{> userheaderpartial}}
</section>

<section>
{{> selectionpartial}}
</section>

<section class="files-container">
  
{{#each oneToDo}}
  <h1>{{this.title}}</h1>
{{/each}}


</section>

<section></section>