{{! partial header  }}
{{! partial left section  }}

<section>
{{> userheaderpartial}}
</section>

<section>
{{> selectionpartial}}
</section>

<section class="files-container">
  
{{#each oneToDo}}
  <h1>{{this.title}}</h1>
{{/each}}

  <input type="text" id="new-task-input" placeholder="Your task">
  <input type="button" id="add-task" value="Save Task"></input>
  
</section>

<section></section>