<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
        {{> selectionpartial}}
        </section>
<section class="note-list-section">
  {{#each allNotes}}
  <div class="each-note"><div class="note-title">{{this.title}}</div></div>
  {{/each}}
</section>

        <section>Outils</section>
  </section>



</section>