<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
        {{> selectionpartial}}
        </section>


        <h1>All Notes</h1>


        <section>Outils</section>
  </section>

</section>