<section id=“all-page”>
    <section id=“header-partial”>
    {{> userheaderpartial}}
    </section>
    <section id=“menu-partial-functionalities”>
    <div>
    {{> selectionpartial}}
    </div>
    <div>
    <h1>List of notes</h1>
    </div>
    </section>
</section>