<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
        {{> selectionpartial}}
        </section>
<section class="note-list-section">
  {{#each allNotes}}
  <div class="each-note">
    <div class="note-title">{{this.title}}</div>
    <section data-id="{{this.id}}" id="section-buttons">
      <a href="/notes/{{this.id}}"><img id="edit-image" src="/images/edit.png", alt="Edit"/></a>
      <!--<a href="/notes" id="trashbin-button"><img id="trashbin-image" src="/images/trash-bin.png", alt="Trash bin"/></a>-->
      </section>
    </div>
  {{/each}}
</section>
  </section>



</section>