<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
        {{> selectionpartial}}
        </section>


        <section>Outils</section>
  </section>

  <ul>
  {{#each allNotes}}
    <li>
    {{this.title}}
    </li>
    <br />

  {{/each}}
</ul>

</section>