<section>
{{> userheaderpartial}}
</section>

<section>
{{> selectionpartial}}
</section>

<h1>New note</h1>
<input type="text" id="note-title" placeholder="Title: " />
<input type="text" id="note-content" placeholder="Content: " />
<input type="button" id="save-button" value="Save"/>