<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section><h2>New note</h2>
<input type="text" id="note-title" placeholder="Title: " />
<input type="text" id="note-content" placeholder="Content: " />
<input type="button" id="save-button" value="Save"/>
        </section>
        <section>
            Outils
        </section>
  </section>

</section>