<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section class="text-section">
<div id="first-create-note-textarea"><textarea type="text" id="create-note-title" placeholder="Title" maxlength="80"></textarea></div>
<textarea id="create-note-content" placeholder="Content"
          maxlength="1100"></textarea>
        </section>
        <section id="create-tools-section-note">
            <input type="button" id="save-button" value="Save"/>
        </section>
  </section>

</section>