<section class="all-partials">

  <section class="header">
  {{> userheaderpartial}}
  </section>


    <section class="menu-functionalities">
        <section>
            {{> selectionpartial}}
        </section>

        <section class="text-section">
<p><input type="text" id="edit-note-title" value="{{oneNote.title}}" /></p>
<p><textarea id="edit-note-content">{{oneNote.content}}</textarea></p>
        </section>
        <section data-id="{{oneNote.id}}">
            Outils
            <a href="/notes" id="trashbin-button"><img id="trashbin-image" src="/images/trash-bin.png", alt="Trash bin"/></a>
            <input type="button" id="edit-button" value="Edit"/>
        </section>
  </section>

</section>